// Color
$black: #000000;
$white: #ffffff;
$illuminatingEmerald: #39967b;
$greenMunsell: #05ae73;
$sunsetOrange: #fa575e;
$neonCarrot: #f99f42;
$uCLABlue: #59648a;
$darkJungleGreen: #1a1d2a;
$richBlack: #020310;
// Overlay
$black02: rgba($black, 0.2);
$richBlack091: rgba($richBlack, 0.91);
