// FONTS
@font-face {
  font-family: 'Conthrax Sb';
  src: url('~assets/fonts/ConthraxSb-Regular.woff2') format('woff2'),
    url('~assets/fonts/ConthraxSb-Regular.woff') format('woff'),
    url('~assets/fonts/ConthraxSb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cabin';
  src: url('~assets/fonts/Cabin-Bold.woff2') format('woff2'), url('~assets/fonts/Cabin-Bold.woff') format('woff'),
    url('~assets/fonts/Cabin-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
