button {
  &:focus {
    outline: none;
  }
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

[role='button'],
button {
  cursor: pointer;
}

input {
  word-break: normal;
}

ul,
ol {
  padding: 0;
  margin: 0;
}
