.a-button {
  $root: &;

  width: 100%;
  height: rem(44);
  font-size: rem(15);
  line-height: rem(18);
  letter-spacing: 0.04em;
  border-radius: rem(8);
  box-sizing: border-box;
  border: none;
  font-family: $fontConthrax;
  cursor: pointer;
  overflow: hidden;
  text-transform: lowercase;

  &:disabled {
    pointer-events: none;
    opacity: 0.7;
  }
  &-uppercase {
    text-transform: uppercase;
  }
  &-capitalize {
    text-transform: capitalize;
  }
  &-primary {
    background-color: $illuminatingEmerald;
    color: $white;
    border: 1px solid $greenMunsell;
  }
  &-secondary {
  }
  &-gradient {
    position: relative;
    color: $white;
    transition: all $transitionLong linear;
    z-index: 1;
    background: linear-gradient(90deg, $sunsetOrange 10.61%, $neonCarrot 86.66%);
    backdrop-filter: blur(20px);
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(90deg, $neonCarrot 10.61%, $sunsetOrange 86.66%);
      backdrop-filter: blur(20px);
      transition: all $transitionLong linear;
      z-index: -1;
      opacity: 0;
    }
    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }
  &-text {
    color: $illuminatingEmerald;
    background-color: transparent;
  }
}
